// ==============
// Global Colours
// ==============
$main-color: #007BFF;
$main-dark: #0069D9;
$main-white: #ffffff;
// ==============
// Base custom styling
// ==============

.break-out {
    width: 100vw;
    position: relative;
    left: calc(-1* (100vw - 100%) / 2);
}

a, a:hover {
    text-decoration: none;
}

// ==============
// Google custom search
// ==============


#___gcse_0 {
    flex-grow: 1;
    .gsc-control-cse {
        border: none !important;
        padding: 0 !important;
        background-color: #007BFF !important;
    }
    button.gsc-search-button {
        background: $main-white;
        height: 1.8rem;
        border: none;
        border-radius: 0 .25rem .25rem 0;
        svg {
            fill: $main-color;
            transition: fill 150ms ease-in-out;
        }
        transition: background-color 150ms ease-in-out;
    }
    button.gsc-search-button:hover {
        background: $main-dark;
        svg {
            fill: $main-white;
        }
    }
    .gsc-input-box {
        height: 1.8rem;
        border: none;
        border-radius: .25rem 0 0 .25rem;
    }
    td.gsc-input {
        padding: 0;
    }
    input#gsc-i-id1 {
        background: none !important
    }
    input#gsc-i-id1::placeholder {
        color: transparent;
    }
}

.img-square-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}
.img-square-wrapper img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


// ==============
// Old code
// ==============
// * {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

// body {
//     font-family: sans-serif;
//     margin: 0;
//     padding: 0;
// }

// nav {
//     background: $main-color;
//     display: flex;
//     justify-content: center;
//     a {
//         padding: 20px 10px;
//         color: white;
//         //font-weight: 700;
//     }
//     div {
//         //padding: 20px 10px;
//         color: white;
//         //font-weight: 700;
//     }
// }

// .team_image {
//     -webkit-border-radius: 8px;
//     -moz-border-radius: 8px;
//     border-radius: 8px;
//     width: 150px;
//     height: 150px;
//     object-fit: cover;
// }

// .teacher_image {
//     -webkit-border-radius: 8px;
//     -moz-border-radius: 8px;
//     border-radius: 8px;
//     width: 150px;
//     height: 150px;
//     object-fit: cover;
// }

// .footer {
//     padding-top: 20px;
// }

// .featured_image {
//     -webkit-border-radius: 8px;
//     -moz-border-radius: 8px;
//     border-radius: 8px;
//     width: 250px;
//     height: 250px;
//     object-fit: cover;
// }

// .performers_list {
//     columns: 3;
//     -webkit-columns: 3;
//     -moz-columns: 3;
// }