jinja2==2.10.1
psycopg2==2.8.3
django==2.2.3
django-reversion
pytz
django-recaptcha
social-auth-app-django
pyyaml
django-countries==5.3.3
Pillow==6.1.0
django-imagekit
gunicorn
requests
eventlet
libsass
django-sass-processor
django-compressor
rollbar

