{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{{  title }}</title>
</head>
<body>
{% block navigation %}
    <nav>
        <a href="/">Events</a> |
        <a href="/venues/">Venues</a> |
        <a href="/teams/">Teams</a> |
    </nav>
{% endblock %}

{% block content %}

{% endblock %}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4327172-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-4327172-2');
</script>

</body>
</html>