{% extends "base.html" %}
{% load static %}
{% block content_inner %}

    {% with social_thing=city %}
        {% include "content/social.html" %}
    {% endwith %}


    <div class="card w-500 shadow">

        {%  if city.image.exists %}
        <img class="card-img-top img-fuild" style="max-height: 500px"
             src="{{city.image.url}}" alt="{{ city.name }}">
        {% endif %}

    </div>


    </div>

    <div class="card w-500 shadow">
        <div class="card-header"><h2>Events</h2></div>
        <div class="card-body">

        {% if events %}
            <ul>
                {% for event in events %}
                    <li><a href="{% url 'event' id=event.id %}">{{event.name}}</a></li>
                {%  endfor %}
            </ul>
        {% else %}
            <p>We don't have any events for {{ city.name }}</p>
        {% endif %}


        </div>
    </div>


    <div class="card w-500 shadow">
        <div class="card-header"><h2>Venues</h2></div>
        <div class="card-body">

            {% if venues %}
                <ul>
                    {% for venue in venues %}
                        <li><a href="{% url 'venue' id=id %}">{{venue.name}}</a></li>
                    {%  endfor %}
                </ul>
            {% else %}
                <p>We don't have any venues for {{ city.name }}</p>
            {% endif %}


        </div>
    </div>







{#    {% if venue.festival_set.exists %}#}
{#    <h2>Festivals</h2>#}
{#    {% for festival in venue.festival_set.all %}#}
{#    <li><a href="{% url 'festival' id=festival.id %}">{{ festival.name }}</a>, {{festival.start_time.year}}</li>#}
{#    {% endfor %}#}
{#    {% endif %}#}


    {% with obj=venue %}
        {% include "content/admin.html" %}
    {% endwith %}



{% endblock %}