{% extends "base.html" %}
{% block content %}

    <h1>{{ title }}</h1>


    <div class="listings">
        <ul>
        {% for event in events %}
        <li>
            <a href="/events/{{event.id}}">{{event.name}}</a> {{ event.start_time }} @ <a href="/venues/{{ venue.id }}">{{ event.venue.name }}</a> with:
            <ul>
                {% for team in event.teams.all %}
                    <li><a href="/teams/{{ team.id }}">{{ team.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
    </div>



{% endblock %}