{% extends "base.html" %}
{%  block title %}{{ full_name }}{% endblock %}

{% block content_inner %}

<section id="event-details">
    <h2 class="display-5">Details</h2>

    <div id="date-time" class="d-flex align-items-center my-3">
        <i class="far fa-calendar text-primary h2 mr-3 mb-0"></i>
        <div>{{event.start_time}}</div>
    </div>

    <div id="venue" class="d-flex align-items-center my-3">
        <i class="fas fa-map-marker-alt text-primary h2 mr-3 mb-0"></i>
        <div><a href="/venues/{{venue.id}}">{{venue.name}}</a>, {{venue.city}}</div>
    </div>

    {% if event.eventbrite_link %}
    <div id="ticket" class="d-flex align-items-center my-3">
        <i class="fas fa-ticket-alt text-primary h2 mr-3 mb-0"></i>
        <div><a href="{{event.eventbrite_link}}">Buy tickets</a></div>
    </div>
    {% endif %}

</section>

{% if teams %}
<section id="teams">
    <h2 class="display-5">Teams performing at this event</h2>
    <div class="d-flex flex-wrap justify-content-start align-items-stretch">

        {% for team in teams %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-2 d-flex justify-content-between">
            <div class="card w-100">
                <a href="{% url "team" id=team.id %}">
                    <img class="card-img-top img-fuild" style="height: 220px; object-fit: cover;"
                        src="{% if team.image %}{{team.image.url}}{% else %}/static/default_team.png{% endif %}" alt="{{ team.name }}">
                </a>
                <div class="card-body">
                    <a href="{% url "team" id=team.id %}" class="cart-title h5">{{team.name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="display-5">Special Guests</h2>

    {% if event.special_guests.all %}


    {% endif %}

    <div class="d-flex flex-wrap justify-content-start align-items-stretch">
        {% for guest in event.special_guests.all %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-2 d-flex justify-content-between">
                <div class="card w-100">
                    <a href="{% url "performer" id=guest.id %}">
                        <img class="card-img-top img-fuild" style="height: 220px; object-fit: cover;"
                             src="{% if guest.image %}{{guest.image.url}}{% else %}/static/default_performer.png{% endif %}" alt="{{ guest.name }}">
                    </a>
                    <div class="card-body">
                        <a href="{% url "performer" id=guest.id %}" class="cart-title h5">{{guest.full_name}}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</section>
{% endif %}





{% with obj=event %}
{% include "content/admin.html" %}
{% endwith %}
{% endblock %}