{% extends "base.html" %}
{% block content_inner %}
{% load static %}

<h2 class="display-5">Events starting in the next {{event_days}} days.</h2>



<div class="listings">
    <ul>
        {% for event in events %}
        <li>
            {% include "content/event.html" %}
        </li>
        {% endfor %}
    </ul>
    </ul>
    <a href="/events/">More events...</a>
</div>

<h2 class="display-5">Featured <a href="/teams/">Teams</a></h2>


<div class="home_page_teams">
    {% for team in teams %}
    <div class="team">
        <img class="team_image" src="{% get_static_prefix %}{{team.image.url}}"/>
        <a href="/teams/{{team.id}}">{{team.name}}</a>
    </div>
    {% endfor %}
</div>



<h2 class="display-5">Featured <a href="/teachers/">Teachers</a></h2>

<div class="home_page_teachers">
    {% for teacher in teachers %}
        <div class="teacher">
            <img class="teacher_image" src="{% get_static_prefix %}{{teacher.image.url}}"/>
            <a href="/performers/{{teacher.id}}">{{teacher.full_name}}</a>
        </div>
    {% endfor %}
</div>

{% endblock %}