{% block navigation %}
<div class="container">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><i class="fas fa-theater-masks mr-2"></i>Improv Guide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Edit Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'teachers' %}">Teachers</a>
                        <a class="dropdown-item" href="{% url 'courses' %}">Courses</a>
                        <a class="dropdown-item" href="{% url 'events' %}">Events</a>
                        <a class="dropdown-item" href="{% url 'venues' %}">Venues</a>
                        <a class="dropdown-item" href="{% url 'teams' %}">Teams</a>
                        <a class="dropdown-item" href="{% url 'performers' %}">Players</a>
                        <a class="dropdown-item" href="{% url 'schools' %}">Schools</a>
                        <a class="dropdown-item" href="{% url 'festivals' %}">Festivals</a>
                        <a class="dropdown-item" href="{% url 'podcasts' %}">Podcasts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://chat.whatsapp.com/La3ctCUSo6SFzStqH3dSht">Get Help!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/salimfadhley/uk_improv_guide/issues">Report a Bug</a>
                </li>
            </ul>
            <div class="gcse-search"></div>
            {# {% include "content/custom_search.html" %} #}
        </div>
    </nav>
</div>



{% endblock %}

