{% extends "base.html" %}
{% load static %}
{%  block title %}{{ full_name }}{% endblock %}
{% block content %}

    <h1>{{ title }}</h1>

    {% if performer.image %}
        <img class="featured_image" src="{% static "" %}{{ performer.image.url }}" />
    {% endif %}

    {% if teams %}
    <h3>Plays in these teams:</h3>
    <ul>
        {% for team in teams %}
        <li><a href="/teams/{{team.id}}">{{ team.name }}</a></li>
        {%  endfor %}
    </ul>
    {% endif %}

    <h3>Shows</h3>

    <ul>
        {% for event in events %}
        <li><a href="/event/{{event.id}}">{{ event.name }} @ {{ event.start_time }}</a></li>
        {%  endfor %}
    </ul>


{% endblock %}