{% extends "base.html" %}
{% load static %}
{%  block title %}{{ full_name }}{% endblock %}
{% block content_inner %}


    {% if performer.image %}
        <img class="featured_image" src="{{ performer.image.url }}" />
    {% endif %}

    {% with social_thing=performer %}
        {% include "content/social.html" %}
    {% endwith %}

    {% if performer.teaches_for.all.exists %}
    <h3>{{performer.first_name}} teaches at these schools...</h3>

    <ul>
        {% for school in performer.teaches_for.all %}
        <li><a href="/schools/{{school.id}}">{{ school.name }}</a></li>
        {%  endfor %}
    </ul>

    {% endif %}

    {% if teams %}
    <h3>{{performer.first_name}} plays in these teams...</h3>
    <ul>
        {% for team in teams %}
        <li><a href="/teams/{{team.id}}">{{ team.name }}</a></li>
        {%  endfor %}
    </ul>
    {% endif %}

    <h3>Shows</h3>

    <ul>
        {% for event in events %}
        <li><a href="/event/{{event.id}}">{{ event.name }} @ {{ event.start_time }}</a></li>
        {%  endfor %}
    </ul>

    {% with obj=performer %}
        {% include "content/admin.html" %}
    {% endwith %}

{% endblock %}