{% extends "base.html" %}
{% load static %}
{%  block title %}{{ full_name }}{% endblock %}
{% block content_inner %}


    {% if performer.image %}
        <img class="featured_image" src="{{ performer.image.url }}" />
    {% endif %}

    {% with social_thing=performer %}
        {% include "content/social.html" %}
    {% endwith %}

    {% if courses %}
        <h3>{{performer.first_name}} will be teaching these courses...</h3>
        <ul>
            {% for course in courses %}
            <li><a href="{% url 'course' id=course.id%}">{{ course.name }}</a></li>
            {%  endfor %}
        </ul>
    {% endif %}


    {% if performer.teaches_for.all.exists %}
    <h3>{{performer.first_name}} teaches at these schools...</h3>

    <ul>
        {% for school in performer.teaches_for.all %}
        <li><a href="{% url 'school' id=school.id %}">{{ school.name }}</a></li>
        {%  endfor %}
    </ul>

    {% endif %}

    <h3>{{performer.first_name}} plays in these teams...</h3>
    {% if teams %}
    <ul>
        {% for team in teams %}
        <li><a href="{% url 'team' id=team.id %}">{{ team.name }}</a></li>
        {%  endfor %}
    </ul>
    {% else %}
    <p>We don't know what teams {{performer.first_name}} plays for. You can add this information.</p>
    {% endif %}

    <h3>Shows</h3>
    {% if events %}
    <ul>
        {% for event in events %}
        <li><a href="{% url 'event' id=event.id %}">{{ event.name }} @ {{ event.start_time }}</a></li>
        {%  endfor %}
    </ul>
    {% else %}
    <p>We don't have any listings for {{performer.first_name}}, please add some.</p>
    {% endif %}

    {% with obj=performer %}
        {% include "content/admin.html" %}
    {% endwith %}

{% endblock %}