{% extends "base.html" %}
{% load static %}
{% block content_inner %}

{% with social_thing=school %}
{% include "content/social.html" %}
{% endwith %}

{% if school.image %}
<img class="featured_image" src="{{ school.image.url }}" />
{%  endif %}


<h2>Courses</h2>
{% if courses %}
<ul>
    {% for course in courses %}
    <li><a href="{% url 'course' id=course.id%}">{{course.name}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>We don't have any courses listed for this school. You can add this information.</p>
{% endif %}

<h2>Venues</h2>

{% if venues %}
<ul>
    {% for venue in venues %}
    <li><a href="{% url 'venue' id=venue.id%}">{{venue.name}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>We don't have any venues listed for {{school.name}}, please help us by adding this information.</p>
{% endif %}

<h2>Teachers</h2>

<ul>
    {% for teacher in teachers %}
    <li><a href="{% url 'performer' id=teacher.id %}">{{teacher.full_name}}</a></li>
    {% endfor %}
</ul>


{% with obj=school %}
{% include "content/admin.html" %}
{% endwith %}


{% endblock %}