{% extends "base.html" %}
{%  block title %}{{ team.name }}{% endblock %}
{% block content %}

    <h1>{{ team.name }}</h1>

    <h3>Players</h3>

    <ul>
        {% for player in players %}
        <li><a href="/performers/{{player.id}}">{{ player.first_name }} {{ player.family_name }}</a></li>
        {%  endfor %}
    </ul>

    <h3>Shows</h3>

    <ul>
        {% for show in shows %}
        <li><a href="/events/{{show.id}}">{{ show.name }} @ {{ show.start_time }}</a></li>
        {%  endfor %}
    </ul>


{% endblock %}