{% extends "base.html" %}
{% load static %}
{%  block title %}{{ team.name }}{% endblock %}
{% block content %}

    <h1>{{ team.name }}</h1>

    {% if team.image %}
        <img class="featured_image" src="{% static "" %}{{ team.image.url }}" />
    {% endif %}


    <h3>Contact</h3>
    {% if team.contact_email_address %}
        <a href="mailto:{{ team.contact_email_address }}">EMAIL</a>
    {% endif %}

    {% if team.facebook_link %}
        <a href="team.facebook_link">FB</a>
    {% endif %}



    <h3>Players</h3>

    <ul>
        {% for player in players %}
        <li><a href="/performers/{{player.id}}">{{ player.first_name }} {{ player.family_name }}</a></li>
        {%  endfor %}
    </ul>

    <h3>Shows</h3>

    <ul>
        {% for event in events %}
        <li><a href="/events/{{event.id}}">{{ event.name }} @ {{ event.start_time }}</a></li>
        {%  endfor %}
    </ul>


{% endblock %}