{% extends "base.html" %}
{% load static %}
{% block content_inner %}



    {% if team.image %}
        <img class="featured_image" src="{{ team.image.url }}" />
    {% endif %}


    <h3>Contact</h3>

    {% with social_thing=team %}
        {% include "content/social.html" %}
    {% endwith %}

    <h3>Players</h3>

    <ul>
        {% for player in players %}
        <li><a href="/performers/{{player.id}}">{{ player.full_name }}</a></li>
        {%  endfor %}
    </ul>


    <h3>Events</h3>
    {% if events %}

    <div class="team_calendar"><a href="{% url 'team_event_calendar' id=team.id %}"><i class="far fa-calendar"></i></a></div>
    <ul>
        {% for event in events %}
        <li><a href="/events/{{event.id}}">{{ event.name }}</a> @ {{ event.start_time }}, <a href="{% url 'venue' id=event.venue.id %}">{{event.venue.name}}</a>, {{event.venue.country.name}}</li>
        {%  endfor %}
    </ul>
    {% else %}
    <p>We have no events listed for {{team.name}}. Please add some.</p>
    {% endif %}

    {% if team.festival_set.all %}
    <h3>Festivals</h3>
    <ul>
        {% for festival in team.festival_set.all %}
            {% for venue in festival.venues.all %}
                <li><a href="{% url 'festival' id=festival.id %}">{{festival.name}}</a>, {{festival.start_time.year}}, <a href="{% url 'venue' id=venue.id %}">{{venue.name}}</a></li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% else %}
        <p>We don't have any festivals listed for {{ team.name }}. </p>
    {%  endif %}

    {% with obj=team %}
        {% include "content/admin.html" %}
    {% endwith %}


{% endblock %}