{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Venues</h1>

    <div class="boxes">
        {% for venue in venues %}


            <div class="box">
                {% if venue.image %}
                    <a href="/venues/{{ venue.id }}"><img class="boximage" src="{% static "" %}{{ venue.image.url }}" alt="{{ venue.name }}"></a>
                {% endif %}
                <div class="box_bottom">
                    <a href="/venues/{{ venue.id }}">{{venue.name}}</a>
                    {% with social_thing=venue %}
                        {% include "content/social.html" %}
                    {% endwith %}
                </div>

            </div>

        {% endfor %}
    </div>

{% endblock %}