{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>{{ venue.name }}</h1>

    {% with social_thing=venue %}
        {% include "content/social.html" %}
    {% endwith %}

    {% if venue.image %}
    <img class="featured_image" src="{% static "" %}{{ venue.image.url }}" />
    {%  endif %}



    <div class="address_info">
    <ul class="address">
        <li>{{ venue.address }}</li>
        <li>{{ venue.city }}</li>
        <li>{{ venue.postcode }}</li>
        <li>{{ venue.country }}</li>
    </ul>

    </div>

    <h2>Events</h2>

    <ul>
    {% for event in events %}
        <li><a href="/events/{{ event.id }}">{{ event.name }}</a>, {{event.start_time}}</li>
    {% endfor %}

    </ul>

    {% with obj=venue %}
        {% include "content/admin.html" %}
    {% endwith %}



{% endblock %}